@mixin flexColumnContainer () {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
  text-align: center;

  > .inputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: initial;
    column-gap: 100px;
    row-gap: 12px;

    @media (max-width: 1280px) {
      column-gap: 50px;
    }

    @media (max-width: 1024px) {
      column-gap: 25px;
    }

    @media (max-width: 680px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 30px;
    }

    > .namesContainer {
      @include flexColumnContainer;

      > .comment {
        font-size: 0.6rem;
      }

      > .input {
        font-size: 0.6rem;
        width: 100%;
      }
    }

    > .alcoholContainer {
      @include flexColumnContainer;

      .alcoholChooseContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;

        @media (max-width: 1024px) {
          gap: 8px;
        }

        > div {
          height: 28px;
        }
      }
    }

    > .isComingContainer {
      @include flexColumnContainer;
    }

    > .submitButtonContainer {
      display: flex;
      align-items: center;
    }
  }

  .selectWrapper {
    display: flex;
    gap: 6px;
    align-items: center;

    font-size: 0.8rem;
  }

  .image {
    background-image: url("/assets/questionnaire-section-image.png");
    width: 100%;
    height: 100%;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;


    @media (max-width: 680px) {
      background-image: none;
      background-size: cover;
    }
  }

  .button {
    width: 100%;
    height: fit-content;
    background-color: #3A3837;
    outline: none;
    border-style: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    font-family: Viaoda Libre, system-ui;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:disabled {

      &:hover {
        background-color: #3A3837;
      }
    }

    &:disabled:active {
      transform: none;
      background-color: #3A3837;
    }

    &:hover {
      background-color: #2a2928;
    }

    &:active {
      background-color: #2a2928;
      transform: scale(0.98);
    }

    .loader {
      width: 0.6rem;
      height:0.6rem;
      border: 3px solid #fff;
      border-top: 3px solid #3A3837;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      box-sizing: border-box;
      transform-origin: 50% 50%;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}