:root {
  font-family: Viaoda Libre, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  font-size: 40px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1536px) {
    font-size: 36px;
  }

  @media (max-width: 1280px) {
    font-size: 32px;
  }

  @media (max-width: 1024px) {
    font-size: 24px;
  }

  @media (max-width: 320px) {
    font-size: 12px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 0 110px;
  line-height: 1;
  
  @media (max-width: 1536px) {
    padding: 0 80px;
  }

  @media (max-width: 1280px) {
    padding: 0 50px;
  }

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 320px) {
    padding: 0;
  }
}

h3 {
  font-size: 1.6rem;
}

input {
  background-color: #FFFFFF;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.4rem;
  outline: none;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  height: 0.8rem;
  width: 0.8rem;
  font: inherit;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  height: 0.8rem;
  width: 0.8rem;
  border: 1px solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
